.container {
    position: relative;
    height: 350px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.mySwiper {
    width: 100%;
    height: 100%;
}

.imageSlide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventImage {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
