.sectionTitle {
    margin: 10px;
}
.sections {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: stretch;
    padding: 10px;
}

.productsInfo{
    display: inline-block;
}

.productsLink {
    text-decoration: none;
    padding: 0px 15px 0px 0px;
}

.productsLink:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

.productsName {
    color: black;
    width: 160px;
}
