.mainContent {
    width: 800px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #333333;
}

.titleContainer {
    display: flex;
    align-items: flex-start;
}

.titleWrapper {
    margin: 0;
    padding: 0;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.recallNotion {
    font-size: 16px;
    color: #eb6157;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.recallNotion::before {
    content: "※ ";
    left: 0;
}

.notionContainer {
    margin-left: auto;
}

.notionBtn {
    border: #dbdbdb 1px solid;
    color: #009e96;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

.notionBtn:hover {
    border-color: #009e96;
    cursor: pointer;
}

.notionList {
    list-style-type: none;
    padding-left: 0;
}

.notionItem {
    font-size: 12px;
    color: #808080;
    padding-bottom: 10px;
}

.notionItem::before {
    content: "※ ";
    left: 0;
}

.selectionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectionWrapper {
    display: flex;
    align-items: center;
    margin: 0 30px;
}

.selectionTitle {
    font-size: 14px;
    font-weight: bold;
    margin: 0 10px;
}

.selection {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
}

.selection:focus {
    outline: none;
}

.historyContainer {
    margin: 40px 0 20px 0;
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
}

.historyContainer:not(:last-child) {
    border-bottom: 1px dashed #dbdbdb;
}

.orderImage {
    margin-top: 16px;
    border-radius: 5px;
}

.orderImage {
    cursor: pointer;
}

.orderDetails {
    margin-left: 30px;
    color: #333333;
    font-size: 14px;
    max-width: 320px;
}

.subname {
    font-size: 16px;
}

.subname:hover {
    text-decoration: underline;
    cursor: pointer;
}

.productSelection {
    font-size: 13px;
}

.amount,
.price {
    display: flex;
    align-items: baseline;
}

.amountNum,
.priceNum {
    font-size: 16px;
    font-weight: bold;
}

.orderSubDetail {
    padding: 40px 0 0 40px;
    color: #333333;
    font-size: 13px;
}

.noRecords {
    margin: 40px 0 20px 0;
    color: #333333;
    font-size: 14px;
}

